<div [formGroup]="formGroup">
    <mat-form-field class="full-width">
        <input matInput type="number"
            [placeholder]="controlTitle" 
            [name]="controlName" 
            [formControlName]="controlName"
            [min]="minimo" [max]="maximo" [step]="step">
        <mat-error *ngIf="validacao.hasErrorValidar(formControl, 'required')">Campo obrigatório</mat-error>
        <mat-error *ngIf="validacao.hasErrorValidar(formControl, 'min')">
            O valor mínimo do campo é {{ validacao.lengthValidar(formControl, 'min') }}</mat-error>
        <mat-error *ngIf="validacao.hasErrorValidar(formControl, 'max')">
            O valor máximo do campo é {{ validacao.lengthValidar(formControl, 'max') }}</mat-error>
    </mat-form-field>
</div>